<div id="branding" class="branding">
  <h1 id="site-title" class="title">
    <a href="<%- config.root %>"><%= config.title %></a>
  </h1>
</div>
<div class="subtitle">
  <p><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
</div>