<section class="bio">

  <p><b>Bob Holt</b> is a <b>Software Engineer</b> at <b><a href="http://www.bocoup.com/">Bocoup</a></b>.</p>

  <p>He is project lead for <a href="https://github.com/archfirst/keel">Keel</a>, a stabilizing framework for Backbone applications, in addition to contributing to <a href="https://github.com/jquery/learn.jquery.com">jQuery’s Learning site</a>, <a href="https://github.com/roblarsen/CeeJS">CeeJS</a>, and the <a href="https://github.com/h5bp/ant-build-script">HTML5 Boilerplate Ant Build Script</a>.</p>

  <p>Bob enjoys music, photography, and exploring the more remote areas of New England with his family.</p>

  <ul>
    <li><a href="https://github.com/bobholt">Github</a></li>
    <li><a href="http://twitter.com/bobholt/">Twitter</a></li>
    <li><a href="http://gplus.to/bobholt/">Google+</a></li>
    <li><a href="http://www.linkedin.com/in/bobholt">LinkedIn</a></li>
  </ul>

</section>
