// optimization done

nav
  ul
    font-size .75em
    line-height 1.5em

  li a
    font-weight bold

.branding
  .title
    font-family: font-default;
    font-size: 1.875em;
    font-weight bold;
    letter-spacing: -2px;
    line-height: 1em;
    margin 0 0 20px 0;
    text-transform: uppercase;
    word-wrap: break-word;

.subtitle {
  border-bottom: 1px solid #e5e5e5;
  border-top: 5px solid #444;
  clear: both;
  color: #333;
  float: left;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0;
  margin-bottom: 30px;
  padding: 18px 4.25531914893617% 20px 4.25531914893617%;
  text-align: center;
  text-transform: none;
  width: 91.48936170212767%;
}