		<footer>
			Copyright ©{{current_year}} {{site-title}}
		</footer>

		<script src="/js/vendor/prism.js"></script>
		<script src="/js/config.js"></script>
		<script src="/js/vendor/require.js"></script>
  </body>
</html>
