// optimization done
//
.container .footer
  overflow: hidden;
  clear: both;
  width: 100%;
  margin: 0 auto;
  padding: 26px 0 30px 0;
  border-top: 5px solid #444;
  font-size: 0.8461538461538461em;
  color color-meta