.sidebar {
  color: #888;
  font-size: 0.8125em;
  text-align: center;
  p,
  ul {
    margin-bottom: 22px;
    text-align: left;
  }
  li {
    line-height: 2.1em;
    list-style-position: inside;
  }
  .search {
    margin-bottom: 26px;
  }
  .search input {
    border: 1px solid #ddd;
    outline: none;
    margin: 0 0 26px;
    display: block;
    background: #fff;
    width: 91.538461%;
    float: left;
    padding: 8px 10px;
    font-size: 1em;
    color: #aaa;
    height: 3em;
  }
  .headshot {
    margin-bottom: 48px;
    text-align: center;
  }
}